/mixture_matrix.png
/mixture_matrix.svg
/simplex.png
/simplex.svg
/mixture_matrix_3_comp_no_VI_VII.png
/mixture_matrix_3_comp_no_VI_VII.svg
/simplex_3_comp_no_VI_VII.png
/simplex_3_comp_no_VI_VII.svg
